<!DOCTYPE html>
{% load static %}

<head>
    <title>Ezra Schultz - {{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/default-style.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>
    <script src="{% static 'js/base.js' %}"></script>

</head>

<html>

    <body onload="checkCookie()">
        <div id="title">
            <p class="oswald-font">EZRA SCHULTZ</p>
        </div>
        {% block content %}{% endblock content %}
        <div id="menu" class="drop-shadow">
            <ul>
                <li class="josefin-sans-font" style="--delay: 1;"><a href="/">HOME</a></li>
                <li class="josefin-sans-font" style="--delay: 2;"><a href="/projects/">PROJECTS</a></li>
                <li class="josefin-sans-font" style="--delay: 3;"><a href="/about/">ABOUT</a></li>
                <li class="josefin-sans-font" style="--delay: 4;"><a href="/contact/">CONTACT</a></li>
            </ul>
        </div>

    </body>

</html>