:root {
    overflow-x: hidden;
}

#page-content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100vh; 
    left: 0px;
    z-index: -5;
    animation: content-slide 1s ease 1s forwards; 
}

#down-button {
    position: absolute; 
    top: calc(65vh - 2vmax); 
    left: calc(50vw - 2vmax);
    width: 4vmax; 
    height: 4vmax;  
    background-color: #f2f2f2; 
    border-radius: 50%; 
    overflow: hidden;
    scale: 0; 
    animation: scale-up 0.5s ease 0.75s forwards; 
}

#arrow {
    width: 100%; 
    height: 100%; 
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    transform: translateY(4%);
    transition: all 0.1s ease;
}

#arrow:hover {
    transform: translateY(7%);
    background-size: 60%;
}

#title {
    position: absolute;
    width: 30vw;
    height: 10vh;
    top: 36vh;
    left: 35vw;
}

#title p {
    width: 100%;
    height: 100%;
    font-size: 3vmax;
    text-align: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    /* animation: text-intro 1.2s cubic-bezier(0.9, 0, 0.2, 1.06) 0.6s forwards; */
    transform: scale(1.3) translateY(-1vh);

}

#menu {
    position: absolute;
    width: 7vh;
    height: 7vh;
    top: 50vh;
    left: 50vw;
    background-color: #ebebeb;
    border-radius: 7vh;
    transform: translateX(-50%) translateY(-50%);
    animation: menu-intro 1s cubic-bezier(0.9, 0, 0.2, 1.06) 0.5s forwards;
    overflow: hidden;
}

#menu ul {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-left: -0.5vw;
    margin-top: 0px;
}

#menu ul li {
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 25%;
    height: 100%;
    font-size: 1.25vmax;
    color: #000000;
    transform: translateY(100%);
    transition: all ease 0.5s;
    animation: slide-up 0.5s cubic-bezier(0.6, 0.07, 0.22, 1.03) forwards;
    animation-delay: calc((var(--delay) * 0.1s) + 1.2s);
}
#title-extension p {
    animation: up 1s ease 1.2s forwards;
}

#old-title-extension {
    position: absolute;
    width: 30vw;
    height: 10vh;
    top: 36vh;
    left: 46vw;
    overflow: hidden;
    z-index: 500;
}

#old-title-extension-text {
    width: 100%;
    height: 100%;
    font-size: 3vmax;
    text-align: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    transform: scale(1.3) translateY(-10%);
    animation: down 1s ease 0.5s forwards;
}

#menu ul li a:hover{
    color: #3cc03c;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.josefin-sans-font {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }

.drop-shadow {
    filter: drop-shadow(0.5px 1px 7px #616161);
}

a {
    color: #000000;
    text-decoration: none;
    transition: all ease 0.5s; 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #53bd53;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html {
    background-color: #f3f3f3;
}

@keyframes menu-intro {
    to {
        width: 35vw;
        top: 51vh;
    }
}

@keyframes text-intro {
    to {
        transform: scale(1.3) translateY(-1vh);
        left: 35vw;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(7.5%);
    }
}

@keyframes down {
    to {
        transform: scale(1.3) translateY(100%);
    }
}

@keyframes scale-down {
    to {
        scale: 0; 
    }
}

@keyframes scale-up {
    to {
        scale: 1; 
    }
}

@keyframes content-slide {
    to {
        top: 75vh; 
    }
    
}