{% include 'base.html' with title='Projects' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/projectsstyle.css' %}">

{% endblock stylesheets %}

{% block content %}
<div id="old-title-extension"><p class="oswald-font" id="old-title-extension-text"></p></div>
<div id="title-extension"><p class="oswald-font"> - PROJECTS</p></div>
{% endblock content %}

{% block pageContent %}
<div id="content-container">
    <div class="drop-shadow" id="a">A</div>
    <div class="drop-shadow" id="b">B</div>
    <div class="drop-shadow" id="c">C</div>
    <div class="drop-shadow" id="d">D</div>
</div>
<script type="text/javascript"> initContent(); </script>
{% endblock pageContent %}