{% include 'base.html' with title='Projects' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/projectsstyle.css' %}">

{% endblock stylesheets %}

{% block content %}
<div id="old-title-extension"><p class="oswald-font" id="old-title-extension-text"></p></div>
<div id="title-extension"><p class="oswald-font"> - PROJECTS</p></div>

<div id="project-container">
    <ul id="projects-l1">
        <!-- <li><a href="example.com"><div class="projects-item" style="--index: 0;"></div></a></li> -->
    </ul>
</div>
{% endblock content %}