{% include 'base.html' with title='Projects' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/projectsstyle.css' %}">

{% endblock stylesheets %}

{% block content %}
<div id="old-title-extension"><p class="oswald-font" id="old-title-extension-text"></p></div>
<div id="title-extension"><p class="oswald-font"> - PROJECTS</p></div>
{% endblock content %}

{% block pageContent %}
<div id="content-container">
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
    <div class="drop-shadow">TODO</div>
</div>
<script type="text/javascript"> initContent(); </script>
{% endblock pageContent %}